/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

*, *:before, *:after{

    box-sizing: border-box;
}

*, *:before, *:after{

    box-sizing: border-box;
}

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans TC";
    background-color: #FBFBFB;
}

.header{
    list-style: none;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    font-size: 28px;
    font-weight: 700;
    background: #FBFBFB;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover{
    color: #0027D5;
}

.banner{
    display:  flex;
    background: #FBFBFB;
    max-width: 100%;
    margin: 0 auto;
    border-top: solid 1px #6C757D;
    border-bottom: solid 1px #6C757D;
    list-style: none;
}

.banner-img{
    width: 948px;
    margin-right: 24px;
    max-height: 100%;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog-content/About%20Section.png?raw=true");
    background-size: cover;
    object-fit: cover;
    background-position: center;
  }

.banner-content{
    width: 948px;
    height: auto;
    padding-top: 207px;
    padding-bottom: 207px;
}

.banner-content ul{
    max-width: 636px;
    list-style: none;
}

time{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    font-family: "Noto Sans TC";
}

.tag{
    display: flex;
    align-items: center;
    height: 36px;
}

.banner h3{
    color: #0027D5;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    font-family: "Noto Sans TC";
}

.tag span{
    margin-left: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #0027D5; 
    color: white;
    font-size: 16px;
    border-radius: 40px;
    font-family: "Noto Sans TC";
}

h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 8px;
    font-family: "Noto Sans TC";
  }

.content{
    max-width: 636px;
    margin: 0 auto;
    margin-top: 80px;
}

.area{
    margin-bottom: 24px;
}

h2{
    color: #0027D5;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

p{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;  
    font-family: "Noto Sans TC";
}

.img1{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog-content/content1.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img2{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog-content/content2.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img3{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog-content/content3.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img4{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog-content/content4.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

h4{
    font-size: 20px;
    font-weight: 700;
    font-family: "Noto Sans TC";
    margin-bottom: 12px;
}

li span{
    color: #0027D5;
}

.content li{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;  
    font-family: "Noto Sans TC";  
    list-style-position: inside;
}

.background{
    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    padding: 24px;
    background-color: #EDEDED;
    max-width: 100%;
    border-radius: 24px;
    margin-bottom: 24px;
}

.botton{
    display: flex;
    justify-content: space-between;
}

.botton a{
    text-decoration: none;
    color: #4B4B4B;
    font-weight: 500;
    font-size: 16px;
    font-family: "Noto Sans TC";
    padding: 8px 16px;
    border: solid 1px #6C757D;
    border-radius: 40px;
    margin-top: 24px;
}

.footer{
    max-width: 1920px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 312px;
    padding-right: 312px;
    background: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #6C757D;
    margin-top: 80px;
}

.footer p{
    font-size: 32px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    color: black;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: auto;
    padding: 10px;
}

.footer a{
    text-decoration: none;
    color: #0027D5;
    font-weight: 500;
    display: block;
    font-size: 16px;
    width: 24px;
}

.copyright{
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    background: white;
}

.copyright p{
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: "Noto Sans TC";
    font-weight: 500;
}

@media (max-width: 600px){
.wrapper{
    max-width: 375px;
    display: block;
}

.header a:hover{
    color: black;
}

.banner{
    max-width: 375px;
    height: auto;
    display: block;
}

.banner-img{
    max-width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
    margin-right: 0px;
}

.banner-content{
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

.banner-content ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tag{
    margin-top: 10px;
}

.content{
    max-width: 375px;
    margin: 0 auto;
    margin-top: 64px;
    padding-left: 12px;
    padding-right: 12px;
}

.area{
    margin-bottom: 24px;
}

h2{
    color: #0027D5;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 150%;
}

p{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;  
    font-family: "Noto Sans TC";
}

.img1{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content1.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 351px;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img2{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content2.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img3{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content3.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img4{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content4.png?raw=true");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer{
    display: none;
}

.copyright{
    max-width: 100%;
    margin-top: 64px;
}   

}
